@import '~src/styles/partials/consts';
@import '~src/styles/partials/mixins';

:host {
  display: block;
}

.-filters {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 70px $padding-base;

  @include mobile {
    flex-direction: column;
    gap: 10px;
    padding: 20px $padding-base;
  }
  .-filter {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #a3a3a3;

    select {
      font-family: 'Teko' !important;
      border-bottom: 2px solid black;
      option {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

.-quote {
  max-width: 90%;
  margin: 0 auto;
  padding: 70px 0;

  .-text {
    font-family: 'Teko';
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
  }

  .-author {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    margin-top: 30px;
  }
}
