@import '~src/styles/partials/consts';
@import '~src/styles/partials/mixins';

:host {
  display: block;
  width: 100%;
  // height: 100vh;
}

.-hero {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 40px;

  .-title {
    display: flex;
    align-items: center;
    font-family: 'Teko', sans-serif;
    font-size: 30vw;
  }

  .-actions {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    @include mobile {
      display: none;
    }
  }
}

.-actions-mobile {
  padding: 10px;
}
