/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import './partials/reset.scss';
@import './partials/typography.scss';
@import './partials/consts.scss';
@import './partials/buttons.scss';

* {
  font-family: 'Teko', sans-serif;
}

/* COMMON CLASSES */
.line-separator {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

/* UTILS */
.hide-mobile {
  @include mobile {
    display: none;
  }
}

.hide-tablet-desktop {
  @include tablet-desktop {
    display: none;
  }
}

.w-100 {
  width: 100%;
}
