<div class="-footer">

  <div class="-row">
    <div class="d-flex align-items-center">

      <div class="-logo">
        <img src="assets/icons/dept-logo-white.svg">
      </div>

      <nav class="-menu">
        <a href="" class="-link">WORK</a>
        <a href="" class="-link">SERVICES</a>
        <a href="" class="-link">STORIES</a>
        <a href="" class="-link">ABOUT</a>
        <a href="" class="-link">CAREERS</a>
        <a href="" class="-link">CONTACT</a>
      </nav>
    </div>

    <nav class="-socials">
      <a href="" class="-link">
        <img src="assets/icons/socials/facebook.svg">
      </a>
      <a href="" class="-link">
        <img src="assets/icons/socials/instagram.svg">
      </a>
      <a href="" class="-link">
        <img src="assets/icons/socials/twitter.svg">
      </a>

    </nav>
  </div>
  <div class="line-separator -separator"></div>
  <div class="-info-box">
    <div class="-info">
      <div>Chamber of Commerce: 63464101</div>
      <div>VAT: NL 8552.47.502.B01</div>
      <div>Terms and conditions</div>
    </div>
    <div class="-copyright">
      © 2018 Dept Agency
    </div>
  </div>
</div>